.navbar-nav {
    background-color: #209FB2;
    border-radius: 5px;
    border: 1px solid #209FB2;
}
.navbar-light .navbar-nav .nav-link {
    padding: 12px 18px;
    color: #fff;
    position: relative;
    z-index: 1;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: #000;
    z-index: -1;
    -webkit-transition: all .5s ease-in-out ;
    -moz-transition: all .5s ease-in-out ;
    -o-transition: all .5s ease-in-out ;
    -ms-transition: all .5s ease-in-out ;
    transition: all .5s ease-in-out ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.navbar-light .navbar-nav .nav-link:hover::before {
    height: 100%;
}
.navbar-light .navbar-toggler {
    margin-bottom: 10px;
}